.env
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
*.log
*.sqlite
*.db
*.pkl
*.parquet
.streamlit/secrets.toml
data/raw/*
data/external/*
data/interim/*
data/processed/*
outputs/sql/*
outputs/hex/*
outputs/tableau/*
outputs/excel/*
outputs/models/*
outputs/memo/*
outputs/charts/*
!data/raw/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/sql/.gitkeep
!outputs/hex/.gitkeep
!outputs/tableau/.gitkeep
!outputs/excel/.gitkeep
!outputs/models/.gitkeep
!outputs/memo/.gitkeep
!outputs/charts/.gitkeep
*.stackdump
work/
outputs/qa/*
!outputs/qa/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep
